/* Reset e configuração geral */
body {
    font-family: 'Roboto', sans-serif;
    background-image: url(assets/atmosphere-sky-astronomy-black-star-get-snowing-png-pictures-4125a3294e4f5e5026495e1d3823eb52.png);
    margin: 0;
    padding: 0;
  }
  
  /* Estilo do cabeçalho */
  #header-text {
    text-align: center;
    color: #fff;
    font-size: 1.5em;
    padding: 1em 0;
    backdrop-filter: blur(10px);
  }
  
  /* Estilo da lista */
  ul {
    border: 1px solid #000;
    border-radius: 1em;
    max-width: 37.5em;
    margin: 0 auto;
    padding: 1em;
  }
  
  /* Estilo do contêiner principal */
  #character-main-container {
    display: flex;
    justify-content: space-evenly;
  }
  
  /* Estilo do contêiner de detalhes do personagem */
  #character-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
    border-radius: 1em;
    color: #fff;
    border: 2px solid #fff;
    backdrop-filter: blur(4px);
    padding-top: 1em;
    width: 26em;
  }
  
  /* Estilo da imagem do personagem */
  #character-image {
    width: 12.5em;
    height: 12.5em;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: .5em;
  }
  
  /* Estilo do nome do personagem */
  #character-name {
    color:  rgb(13, 193, 238);
  }
  
  /* Estilo das informações do personagem */
  .char-information {
    font-size: large;
    font-weight: bold;
    letter-spacing: 1px;
  }
  
  /* Estilo da lista de episódios */
  #character-episodes {
    letter-spacing: 1px;
    line-height: 1.5em;
    font-weight: bold;
    background-color: #f2f2f2;
    color: #000;
    margin-bottom: 2em;
    width: 36em;
    text-align: left;
  }
  
  /* Estilo do contêiner dos botões */
  #buttons-container {
    display: flex;
    gap: 4em;
  }
  
  #buttons-container img {
    width: 2em;
    height: 2em;
    background-color: #fff;
  }
  
  #buttons-container button {
    background: none;
    border: none;
  }
  
  /* Estilo do contêiner de episódios */
  #episodes-main-container {
    color: #fff;
    text-align: center;
  }
  
  #episodes-main-container h3 {
    backdrop-filter: blur(10px);
  }
  
  /* Muda a direção dos elementos na tela dependendo da resolução */
  @media only screen and (max-width: 1212px) {
    #character-main-container { 
      display: flex;                
      flex-direction: column;
      align-items: center;
    }
  }